# Essential Django packages
Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-environ
python-dotenv

# Database 
psycopg2-binary
dj_database_url
# Development
black
flake8
mypy

# AI 
langchain
langchain-community
langchain-google-genai
langchain-text-splitters
pinecone

# Ingestion specific
pymupdf
beautifulsoup4
requests

langchain
langchain-google-genai
google-generativeai

# Document handling
Pillow


pytest